* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 20px;
}

.header-menu {
    display: flex;
}

.header-menu li {
    margin: 0 10px;
}

.header-menu li a {
    display: inline-block;
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}


.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: pink;
}

.wrapper {
    position: relative;
    background-color: aqua;
    height: 100vh;
    width: 100%;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}